<div id='game_status'>
</div>
<div id='current_players'>
</div>
<div id='game_result'>
  Winner:
</div>

<div id='game_1'>
</div>

  <div data-controller="hello">
    <input id='input_test' type='text' placeholder='write something' >
    <button id='btn_test' type='button' data-action="click->hello#greet">Test!</button>
  </div>
