<div class='game-card'>
  <div>
    <%= link_to  game_path, method: :get do %>
    <h4> Game Title </h4>
    <% end %>
    <p> blablablablabla balblab ablablabla blablabal blabla blablabla blablabal blabalbla</p>
    
  </div>
</div>
