<h1><%= params[:name].capitalize %></h1>
<%= current_user.email %><br>

<% game = Game.create %>

<% case params[:name] %>
<% when 'cat' %>
  <% cat = Cat.create! user_id: current_user.id %>
  <% game.set_game name: params[:name], sort: 'cat', id: cat.id %>
<% when 'four_line' %>
  <% four_line = FourLine.create! user_id: current_user.id %>
  <% game.set_game name: params[:name], sort: 'four_line', id: four_line.id %>
<% end %>
<%= link_to 'Start Game', game_path(game) %>
