nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-bg-color);
  
  div {
    padding: 1rem;
  
    p {
      color: white;
    }
  }

  .logo {
    max-height: 70px;
    border-radius: 18px;
    background-color: white;
    padding: 1em;
    margin: 5px 15px;
    
    img{
      max-height: 70px;
      margin-top: -17px;
      padding:5px;
    }
  }
}